In [ ]:
import pandas as pd 
import glob 
df = pd.DataFrame()
src = 'incident_data/'
for file in glob.glob(src + '*.csv'):
    temp = pd.read_csv(file)
    temp = temp[(temp['當事者區分(類別)'] == 'F01') | (temp['當事者區分(類別)'] == 'F02')]
    df = pd.concat([df, temp], axis=0)

,序號,縣市別代碼,機關代碼,市話,傳真,年,月,日,時,分,...,車輛撞擊部位其他,肇事因素個別,肇事因素主要,肇事逃逸,職業,共享經濟或外送平台,GPS座標X,GPS座標Y,事故類別,﻿序號
103,104.0,66000,387130000C,(04)23274275,(04)23288582,2025,8,1,9,9,...,NaN,48.0,48.0,1.0,12.0,4.0,120.691203,24.134727,2.0,NaN
158,159.0,66000,387130000C,(04)23274275,(04)23288582,2025,8,1,11,23,...,NaN,14.0,14.0,1.0,6.0,4.0,120.697012,24.062148,2.0,NaN
362,363.0,66000,387130000C,(04)23274275,(04)23288582,2025,8,1,18,15,...,NaN,84.0,84.0,1.0,13.0,1.0,120.692492,24.140049,2.0,NaN
435,436.0,66000,387130000C,(04)23274275,(04)23288582,2025,8,1,23,55,...,NaN,59.0,59.0,1.0,6.0,4.0,120.559497,24.239527,2.0,NaN
437,438.0,66000,387130000C,(04)23274275,(04)23288582,2025,8,2,0,3,...,NaN,87.0,87.0,1.0,12.0,4.0,120.660187,24.140158,2.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11876,NaN,66000,387130000C,(04)23274275,(04)23288582,2025,3,30,14,15,...,NaN,8.0,8.0,1.0,12.0,4.0,120.616159,24.311798,2.0,11877.0
11913,NaN,66000,387130000C,(04)23274275,(04)23288582,2025,3,30,16,12,...,NaN,13.0,13.0,1.0,13.0,4.0,120.703693,24.212421,2.0,11914.0
12365,NaN,66000,387130000C,(04)23274275,(04)23288582,2025,3,31,17,56,...,NaN,87.0,87.0,1.0,6.0,4.0,120.639221,24.104791,2.0,12366.0
12422,NaN,66000,387130000C,(04)23274275,(04)23288582,2025,3,31,19,12,...,NaN,62.0,62.0,1.0,4.0,1.0,120.638228,24.107728,2.0,12423.0
12436,NaN,66000,387130000C,(04)23274275,(04)23288582,2025,3,31,19,39,...,NaN,84.0,84.0,1.0,12.0,4.0,120.721012,24.252529,3.0,12437.0

In [15]:
df.to_csv('incidents_clean.csv')