In [1]:
import pandas as pd 
import json 
src = '11411.csv'
df = pd.read_csv(src)
df

,﻿序號,縣市別代碼,機關代碼,市話,傳真,年,月,日,時,分,...,車輛撞擊部位最初,車輛撞擊部位其他,肇事因素個別,肇事因素主要,肇事逃逸,職業,共享經濟或外送平台,GPS座標X,GPS座標Y,事故類別
0,1,66000,387130000C,(04)23274275,(04)23288582,2025,11,1,0,3,...,NaN,NaN,75,75.0,1,12.0,4.0,120.670658,24.164208,3.0
1,2,66000,387130000C,(04)23274275,(04)23288582,2025,11,1,0,6,...,NaN,NaN,84,84.0,1,13.0,4.0,120.667165,24.140834,3.0
2,3,66000,387130000C,(04)23274275,(04)23288582,2025,11,1,1,4,...,NaN,NaN,84,84.0,1,13.0,4.0,120.709159,24.149445,3.0
3,4,66000,387130000C,(04)23274275,(04)23288582,2025,11,1,2,19,...,12.0,NaN,59,59.0,1,13.0,4.0,120.675294,24.205130,2.0
4,5,66000,387130000C,(04)23274275,(04)23288582,2025,11,1,4,4,...,11.0,NaN,7,7.0,1,12.0,4.0,120.614091,24.183494,2.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12408,12409,66000,387130000C,(04)23274275,(04)23288582,2025,11,30,22,49,...,14.0,NaN,82,82.0,1,6.0,2.0,120.626995,24.340318,2.0
12409,12410,66000,387130000C,(04)23274275,(04)23288582,2025,11,30,22,52,...,NaN,NaN,59,59.0,1,6.0,4.0,120.576206,24.226780,3.0
12410,12411,66000,387130000C,(04)23274275,(04)23288582,2025,11,30,22,53,...,NaN,NaN,59,59.0,1,5.0,4.0,120.657959,24.200753,3.0
12411,12412,66000,387130000C,(04)23274275,(04)23288582,2025,11,30,22,58,...,11.0,NaN,7,7.0,1,12.0,4.0,120.538675,24.212991,2.0
12412,12413,66000,387130000C,(04)23274275,(04)23288582,2025,11,30,23,38,...,1.0,NaN,24,24.0,1,12.0,4.0,120.729880,24.331952,NaN

In [5]:
df = df[(df['當事者區分(類別)'] == 'F01') | (df['當事者區分(類別)'] == 'F02')]
df['當事者區分(類別)']

80       F01
208      F01
240      F01
247      F01
248      F01
        ...
12204    F01
12236    F01
12260    F01
12343    F01
12382    F01
Name: 當事者區分(類別), Length: 201, dtype: str

In [6]:
df.to_csv('incidents.csv')